.idea
*.iml
.idea\workspace.xml

/build/
*.html
*.jar
*.jnlp
*.jnlp
*.jar
*.html
*.html
*.jar
*.jnlp
*.js
dist/TonyMozzarellaFX.html
dist/TonyMozzarellaFX.jar
dist/TonyMozzarellaFX.jnlp
build/built-jar.properties
build/built-jar.properties
